main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

main figure {
  position: relative;
}

main .welcomeImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.item1 {
  grid-area: header;
}

main figcaption {
  display: grid;
  grid-template-areas:
    'header';
  align-items: center;
  position: absolute;
  width: 50%;
  height: 25%;
  top: 37.5%;
  right: 25%;
  background-color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #7a6d6a;
  border: 3px solid #c3bcba;
}

main figcaption h1 {
  letter-spacing: 1px;
  line-height: 60px;
  font-size: 1.2rem;
}

h4 {
  font-size: 1.2rem;
  text-align: center;
  color: #333;

}

@media only screen and (max-width: 845px) {
  main figcaption h1 {
    font-size: 1rem;
    line-height: 10px;
  }
}

@media only screen and (max-width: 745px) {
  main figcaption h1 {
    font-size: 0.8rem;
    line-height: 10px;
    line-height: 30px;
  }

  h4 {
    font-size: 1.2em;
  }
}
